<!--
@author Surong Huang, Yichen Han
@date Sep. 12 2020
@version version 0.2
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Map Query</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>



<!--=================================================================-->



<body>

<!--SEARCH BOX SCRIPT-->
<script>
    var rowNum = 1;
    // 新建搜索框函数
    function Add_Row() {
        if (rowNum == 9) return;
        var newRow = document.createElement("div");
        newRow.innerHTML = '<div class = "container" id="searchModule">\n' +
            '    <input type="text" placeholder="请输入途经点" value="" style="margin-bottom: 10px">\n' +
            '    <button onclick="Del_Row(this)"><i>删除地点</i></button>\n' +
            '</div>';
        document.getElementById("searchModule").appendChild(newRow);
        rowNum++;
    }
    // 删除搜索框函数
    function Del_Row(row) {
        if (rowNum == 1) return;
        //if (row.getElementsByTagName("button")) return;
        var tag=$(row).parent();
        //if (tag.getElementById("add")) return;
        if (tag.length===0){
            $(row).parent().remove();
        }else {
            tag.remove();
        }
        rowNum--;
    }
</script>





<!--MAP-->
<!--Init A Wrapper-->
<div id="wrapper"></div>

<!--CSS FOR WRAPPER AND HTML PAGE-->
<style>
    #wrapper{
        margin: 0;
        padding: 0;
        width:100%;
        height:100%;
    }
    html, body{
        height: 100%;
        width:100%;
        margin: 0;
        padding: 0;
    }
</style>

<!--IMPORT JS-->
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=8828beb3bcff3f74ce7af47eb1cd954e"></script>
<!--* 这里需要刚才申请的Key-->
<script>
    //初始化地图插件
    window.onload = function(){
        var map = new AMap.Map('wrapper');
    }
</script>

<!--SEARCH BOX DIV-->
<div style="position: absolute; top: 10px; left: 10px">
    <!--搜索和添加地点按钮-->
    <input type="button" value="搜索">
    <button id = "addPlace2"
            onclick = "Add_Row()">添加地点</button>

    <!--第一个搜索框-->
    <div class = "container" id="searchModule">
        <input type="text" placeholder="请输入起始点" value="" style="margin-bottom: 10px">
    </div>
</div>

</body>
</html>
