<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
+++ positionsToReturn ******************************** <br>
{{ positionsToReturn }}<br>
**************************************************<br>
</div>

<div>
  &nbsp;&nbsp;&nbsp;&nbsp;
</div>

<div>
+++ cluster ******************************************<br>
{{ cluster }}<br>
**************************************************<br>
</div>

<div>
  &nbsp;&nbsp;&nbsp;&nbsp;
</div>

<div>
+++ Paths ********************************************<br>
{{ Paths }}<br>
**************************************************<br>
</div>

<div>
  &nbsp;&nbsp;&nbsp;&nbsp;
</div>

<div>
+++ Guides *******************************************<br>
{{ Guides }}<br>
**************************************************<br>
</div>

<div>
  &nbsp;&nbsp;&nbsp;&nbsp;
</div>

<div>
+++ Locs *********************************************<br>
{{ Locs }}<br>
**************************************************<br>
</div>

<div>
  &nbsp;&nbsp;&nbsp;&nbsp;
</div>

<div>
+++ Time *********************************************<br>
{{ Time }}<br>
**************************************************<br>
</div>

<div>
  &nbsp;&nbsp;&nbsp;&nbsp;
</div>

<div>
+++ FUNC *********************************************<br>
{{ FUNC }}<br>
**************************************************<br>
</div>
</body>
</html>
